---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Znarro dev">
	<div class="wrapper">
		<main>
			<h1>Coming soon...</h1>
		</main>
		<footer>
			<p>znarro.dev</p>
		</footer>
	</div>
</Layout>

<style>
	.wrapper {
		height: 100vh;
		display: flex;
		flex-direction: column;
	}

	main {
		flex: 1;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	h1 {
		font-size: 2rem;
		color: #BD93F9;
	}

	footer {
		padding: 20px;
		text-align: center;
	}
	
	p {
		font-family: 'Orbitron Variable', sans-serif;
		color: #FF79C6;
	}
</style>
